.banner {

  position: relative;
  background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg")
      center,
    center;
}
.banner__info {
  background-color: black;
  color: white;
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-top: 25vh;
  width: 300px;
}
.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}
.banner__search{
    display: flex;
    flex-direction: column;
}
.banner__searchButton {
  background-color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit im !important;
  color: #ff7779 !important;
}
.banner__info > h5 {
  margin-top: 10px;
}
.banner__info > :hover {
  background-color: white;
  color: #ff7779;
}
